.customer-list{
  padding:20px;
  padding-left: 40px;
  background-color: #f0f2f5;
  margin:0 15%;
  input {
    display: inline-block;
    width: 20px;
    height: 20px;
   
  }
  h3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    font-weight: bold;
    .title{
      display: flex;
    justify-content: space-between;
    margin-left: 20px;
      span{
        width: 190px;
      }
    }
  }
  .sider{
    
        
    ul{
      
      margin: 0;
      padding: 0;
    }
    .list{
      display: flex;
        justify-content: space-between;
      li{
        align-items: center;
        font-weight: bold;
        display: flex;
        justify-content:space-between;
        list-style: none;
        
        
        .content {
          margin-left: 20px;
          display: flex;
        justify-content: space-between;
        .content>a{
          width: 190px;
          display: inline-block;
        }
          span{
            width: 190px;
            display: inline-block;
            font-weight: normal;
            line-height: 30px;
            padding: 10px 0;
      
            // text-align: center;
          }
        }
        
        span.active{
          display: flex;
        justify-content: flex-start;
        b{
          display: inline-block;
          display: inline-block;
          width: 40px;
          text-align: center;
          background-color: #1890ff;
          color:#fff;
          margin-right: 20px;
          border-radius: 5px;
          // padding: 10px 0;
          line-height: 30px;
        }
        b:hover{
          color:#ccc;
          cursor: pointer;
        }
        }
        span.activity{
          padding: 10px 20px;
        }
        span.customer:hover{
          color:blue($color: #000000);
          font-weight: bold;
        }
      }
    }
    
    li:hover{
      background-color: #bbb;
    }
  }
  
  
}