.ant-layout-content{
  box-sizing: border-box;
  h3{
    font-size: 18px;
    font-weight: bold;
  }
  p ,span,a{
    font-family: '微软雅黑', Helvetica, sans-serif;
  }
  .main-top,.main-middle,.main-center,.main-down{
    margin-top: 30px;
  }
  .main-top,.main-middle,.main-down{
    padding:10px 10px;
  }
  aside div{
    border:0;
    border-radius: none;
  }
  div {
    border: 1px solid #bbb;
    border-radius: 15px;
  }
  .main-top{
    margin:0;
  }
  .main-center{
    display: flex;
    justify-content: space-between;
    border: 0;
    .main-middle-left,.main-middle-right{
      width: 40%;
      padding:10px 10px;
      p{
        display: flex;
    justify-content: space-between;
   
      }
      
    }
    .main-middle-right p{
      border: 0;
      margin:0;
      padding:0;
    }
    .main-middle-right div{
      border: 0;
      margin-top: 10px;
      padding:0;
      
    }
  }
}
