.activity-view{

  padding:20px;
  padding-left: 40px;
  background-color: #f0f2f5;
  h3{
    font-size: 24px;
  }
  .web,.advertise,.magazine-content{
    // border:1px solid #000;
  margin-bottom: 20px;

  }
  span{
    width: 170px;
  }
  margin:0 15%;
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      
    }
  }
  p{
    display: flex;
    justify-content: space-between;
    span{
      font-weight: bold;
    }
  }
  .magazine-content{
    display: flex;
      justify-content: space-between;
  }
}